language: php

php:
  - 5.3
  - 5.4

env:
  - SYMFONY_VERSION=origin/master

before_script:
  - wget -nc http://getcomposer.org/composer.phar
  - php composer.phar --dev install

notifications:
    webhooks: http://sonata-project.org/bundles/notification/master/travis